<h2>Login</h2>

<%= form_with model: @admin, url: admin_match_path do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email%>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password%>
  </div>

  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>

